.lgin{
    margin-top: 15%;
    margin-left: 44%;
}
.butn{
    margin-top: 10px;
    height: 30px;
    width: 140px;
    border-radius: 10px;
    padding: 5px;
    border: 3px solid;
    background-color: #94F3E4;
}
.SnUp{
    margin-left: 2%;
}
#StId{
    height: 30px;
    box-shadow:0 0 10px rgb(0, 0, 0);
    border-radius: 10px;
}
#Pswd{
    height: 30px;
    box-shadow:0 0 10px rgb(0, 0, 0);
    border-radius: 10px;
}
body{
    background: linear-gradient(120deg,#37AA9C,#1A1A1B);
    height: 100vh;
}